pyenv
pyenv3.7
**/.env
**/*.csv
**/*.ics
**/*.geojson
!badi-counter/badi_counter.csv
!abstimmungsparolen/abstimmungsparolen.csv
!stimmbeteiligung/stimmbeteiligung.csv
!schulferien/schulferien.csv
!sonnenscheindauer/sonnenscheindauer.csv
!mrz_patolu/mrz_patolu.csv
__pycache__/*
**/.data/