pyenv
pyenv3.7
**/.env
**/*.csv
**/*.ics
!badi-counter/badi_counter.csv
!abstimmungsparolen/abstimmungsparolen.csv
!stimmbeteiligung/stimmbeteiligung.csv
!schulferien/schulferien.csv
!mrz/mrz_patolu.csv
__pycache__/*
