python-dotenv
requests
ckanapi
docopts
pytz
sruthi
beautifulsoup4
defusedxml
xlrd==1.2.0
openpyxl
pyyaml
dateparser
icalendar
museumpy
pandas
markdown
lxml
geojson
pyarrow
fastparquet
webdav4
google-cloud-storage
